.form {
  @include main-padding;
  .container {
    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
    h3 {
      color: $clr-prime1;
      letter-spacing: $--spacing;
      font-size: 2rem;
    }
    .content {
      @media (min-width: 1199px) {
        width: 60%;
      }
      p {
        color: $pragrph_color;
        line-height: $--line;
        font-size: 1rem;
      }
    }
    .input_form {
      @media (min-width: 1199px) {
        width: 40%;
      }
      @media (max-width: 600px) {
        width: 95%;
      }
      @media (max-width: 400px) {
        width: 100%;
      }
      display: flex;
      align-items: center;
      width: 70%;
      input {
        @media (max-width: 580px) {
          font-size: 1rem;
        }
        outline: none;
        border: 2px solid $clr-prime3;
        padding: 6px 10px;
        width: 70%;
      }
      button {
        @include BtnStyle;
        padding: 7px 10px;
        border-radius: 0;
        width: 30%;
      }
    }
  }
}
