%Global_h5 {
  font-size: 1rem;
  letter-spacing: $--spacing;
  line-height: $--line;
  margin: 0;
  margin-bottom: 0.5rem;
  color: $clr-prime1;
}
%Global_input__option {
  width: 100%;
  background-color: $clr-prime7;
  padding: 8px 5px;
  border-radius: $--radius;
  outline: none;
  border: none;
  letter-spacing: $--spacing;
  margin: 0;
  margin-bottom: 1.25rem;
}
%Global_button_gategory {
  display: block;
  margin: 0.25em 0px;
  padding: 0.25rem 0px;
  text-transform: capitalize;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid transparent;
  letter-spacing: $--spacing;
  color: $pragrph_color;
  cursor: pointer;
  opacity: 1;
  font-size: 0.8rem;
}

.product {
  @include main-padding;
  padding-top: 0;
  .container {
    display: grid;
    gap: 3rem 1.5rem;
    margin: 4rem auto;
    @media (min-width: 768px) {
      grid-template-columns: 200px 1fr;
    }
    .left_card_category {
      input {
        @extend %Global_input__option;
        @media (max-width: 767px) {
          width: fit-content;
        }
      }
      .our_category {
        margin-bottom: 1.25rem;
        h4 {
          @extend %Global_h5;
        }
        .our_button {
          button {
            @extend %Global_button_gategory;
          }
          .active {
            position: relative;
            border-bottom: 1px solid #617d98;
            // &::before {
            //   content: '';
            //   position: absolute;
            //   width: 100%;
            //   height: 4px;
            //   color: red;
            //   left: 0;
            //   right: 0;
            //   bottom: -5px;
            // }
          }
        }
      }
      .our_company {
        h4 {
          @extend %Global_h5;
        }
        select {
          @extend %Global_input__option;
          @media (max-width: 767px) {
            width: fit-content;
          }
        }
      }
      .our_colors {
        margin-bottom: 1.25rem;

        h4 {
          @extend %Global_h5;
        }
        button {
          @extend %Global_button_gategory;
          margin-right: 0.99rem;
        }
        .colors {
          display: flex;
          align-items: center;
          span {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: rgb(34, 34, 34);
            margin-right: 0.5rem;
            border: none;
            cursor: pointer;
            opacity: 0.5;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            &:first-child {
              background-color: #ff0000;
            }
            &:nth-child(2) {
              background-color: #00ff00;
            }
            &:nth-child(3) {
              background-color: #0000ff;
            }
            &:nth-child(4) {
              background-color: #000000;
            }
            &:nth-child(5) {
              background-color: #ffb900;
            }
          }
        }
      }
      .our_price {
        margin-bottom: 1.25rem;
        h4 {
          @extend %Global_h5;
        }
        input {
          margin: 0;
        }
        input.checkbox {
          color: $clr-prime0;
          width: 10%;
        }
        p {
          margin-bottom: 0.25rem;
          color: $clr-prime0;
        }
      }
      .selcet {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        text-transform: capitalize;
        column-gap: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1.25rem;
        p {
          width: 100%;
        }
        input {
          width: fit-content;
          margin: 0;
        }
      }
      .clear {
        button {
          width: fit-content;
          background-color: #bb2525;
          color: white;
          margin: 0.25em 0px;
          padding: 0.25rem 0.5rem;
          border: none;
          border-radius: $--radius;
          border-bottom: 1px solid transparent;
          outline: none;
          display: block;
          text-transform: capitalize;
          border-image: initial;
          letter-spacing: $--spacing;
          cursor: pointer;
        }
      }
    }
    .right_card_product {
      transition: $main-transition;
      .frist_line_section {
        @media (max-width: 499px) {
          flex-direction: column;
          align-items: flex-start;
        }
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1.25rem;
        .icons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 0.5rem;
          button {
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            color: $clr-prime10;
            padding: 3px;
            border: 1px solid $clr-prime10;
            border-radius: $--radius;
            transition: $main-transition;
            cursor: pointer;
            // &:last-child {
            //   background: #fff;
            //   color: #222;
            // }
          }
          .active_button {
            background: $clr-prime10;
            color: white !important;
          }
        }

        span {
          @media (max-width: 499px) {
            display: block;
            width: 100%;
            flex: auto;
          }
          flex: 1;
          height: 1px;
          background-color: $clr-prime11;
        }
        .sortby {
          display: flex;
          gap: 12px;
        }
      }
      // style card display column
      .our_card {
        @extend %container-drid-display;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        .card {
          width: 100%;
          .img {
            width: 100%;
            height: 175px;
            position: relative;
            background: #222;
            border-radius: $--radius;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
              transition: $main-transition;
              &:hover {
                opacity: 0.5;
              }
            }
            .icnos {
              @include aline_center;
              width: 25px;
              height: 25px;
              position: absolute;
              color: white;
              transition: $main-transition;
              visibility: hidden;
              opacity: 0;
              &::before {
                @include aline_center;
                content: '';
                position: absolute;
                background-color: $clr-prime2;
                padding: 25px;
                border-radius: 50%;
                z-index: -1;
              }
              svg {
                font-size: 25px;
              }
            }
            &:hover {
              .icnos {
                visibility: visible;
                opacity: 1;
              }
            }
          }
          .title__info {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            p {
              color: $clr-prime1;
              &:last-child {
                color: $clr-prime2;
              }
            }
          }
        }
      }
    }
  }
  // style card display row
  .our_card_row {
    display: grid;
    gap: 40px;
    .card_row {
      @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
      }
      width: 100%;
      display: grid;
      grid-template-columns: 300px 1fr;
      // align-items: center;
      align-items: flex-start;
      gap: 25px;
      .img_row {
        width: 100%;
        height: 175px;
        position: relative;
        background: #222;
        border-radius: $--radius;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          transition: $main-transition;
          &:hover {
            opacity: 0.5;
          }
        }
        .icnos_row {
          @include aline_center;
          width: 25px;
          height: 25px;
          position: absolute;
          color: white;
          transition: $main-transition;
          visibility: hidden;
          opacity: 0;
          &::before {
            @include aline_center;
            content: '';
            position: absolute;
            background-color: $clr-prime2;
            padding: 25px;
            border-radius: 50%;
            z-index: -1;
          }
          svg {
            font-size: 25px;
          }
        }
        &:hover {
          .icnos_row {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .title__info_row {
        display: grid;
        grid-template-rows: auto;
        justify-items: start;
        h4 {
          margin: 0;
          margin-bottom: 0.5rem;
          color: $clr-prime1;
          font-size: 1.5rem;
          letter-spacing: $--spacing;
        }
        p.price_row {
          color: $clr-prime2;
          margin-bottom: 0.75rem;
          font-weight: bold;
        }
        p.lorem_row {
          max-width: 45rem;
          color: $clr-prime0;
          margin-bottom: 1rem;
          line-height: $--line;
        }
        button {
          @include BtnStyle;
          font-size: 0.5rem;
          padding: 0.35rem 0.5rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
