/*  Start Global Rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
  p {
    margin: 0;
  }
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
  scroll-behavior: smooth;
}
nav .container .alllinks {
  height: 87px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  text-transform: uppercase;
}
img {
  border-radius: $--radius;
}
button {
  cursor: pointer;
}
/*  End Global Rules */
.container {
  overflow: hidden;
  @media (max-width: 400px) {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(280, 1fr)) !important;
  }
}
