/*  Start Variabulse  */
$minSmall: '(min-width:768px)';
$max-Small: '(max-width:767px)';
$minMedium: '(min-width:992px)';
$minLarge: '(min-width:1200px)';
/*  End Variabulse  */
$clr-prime0: #324d67;
$clr-prime1: #102a42;
$clr-prime2: #ab7a5f;
$clr-prime3: #eaded7;
$clr-prime4: #c5a491;
$clr-prime5: #453227;
$clr-prime6: #decbc0;
$clr-prime7: #f1f8f5;
$clr-prime8: #795744;
$clr-prime9: #5f4435;
$clr-prime10: #222;
$clr-prime11: #bcccdc;

$pragrph_color: #617d98;
$main-transition: all 0.3s linear;
$min-card-padding: 100px;
$--spacing: 0.1rem;
$--radius: 0.25rem;
$--line: 1.8;
